version: "3.8"

services:
  web:
    build: .
    container_name: taxi_backend
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    container_name: taxi_postgres
    restart: always
#    env_file:
#      - .env
    environment:
      POSTGRES_DB: taxi_db
      POSTGRES_USER: taxi_user
      POSTGRES_PASSWORD: taxi_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: taxi_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
